body{
	font-family: Ubuntu;
	text-align: center;
	background-color: #2c7e87;
}
button{
	font-family: Ubuntu;
}
input{
	font-family: Ubuntu;
}
div{
	text-align: center;
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-R.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-RI.ttf);
	font-style: italic;
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-B.ttf);
	font-weight: bold;
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-BI.ttf);
	font-style: italic;
	font-weight: bold;
}
table{
	border-collapse: collapse;
	top: 500px;
}
table, th, td{
	border: 1px solid black;
}